@font-face {
  font-family: Outfit;
  src: url(./Font/Outfit.ttf);
}

body {
  background: hsl(217, 54%, 11%);
  font-size: 18px;
  text-align: center;
}

main {
  /*background-color: hsl(217, 54%, 11%);*/
}

div {
  font-family: Outfit;
  font-weight: 300, 400, 600;
}

.box {
  border: 5px;
  background-color: hsl(216, 50%, 16%);
  padding: 20px;
  margin: 10px;
  border-radius: 30px;
  height: 450px;
  width: 250px;
}

h2 {
  color: white;
}

p {
  color: grey;
}

.time {
  text-align: right;
}

.nft {
}
